* {
  box-sizing: border-box;
}

html,
body,
:root {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
}

body {
  font-family: "Montserrat", sans-serif;
}
